@import '../../../styles/variables.module.scss';

.card {
  width: 240px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  //
  // IMG CONTAINER
  //
  .img_container {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    position: relative;

    .favorite_btn {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      font-size: 1.2rem;
      color: $icon-clr-2;
      padding: 15px;

      &:hover {
        color: $acc-clr-1;
      }

      &.active {
        color: $acc-clr-1;
      }
    }

    a {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  //
  // INFO CONTAINER
  //
  .info_container {
    width: 100%;
    display: flex;
    flex-direction: column;

    h3 a {
      display: block;
      font-size: 1rem;
      font-weight: 800;
      color: $text-clr-3;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }

    h4 {
      font-weight: 800;
      font-size: 0.8rem;
      margin-top: 5px;
      color: $acc-clr-2;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .rating_container {
      margin: 10px 0;
      display: flex;
      align-items: center;
      gap: 2px;

      .icon {
        font-size: 1.3rem;
        color: $star-clr;
      }

      span {
        font-size: 0.9rem;

        &:first-of-type {
          color: $star-clr;
          font-weight: 800;
        }

        &:last-of-type {
          color: $text-clr-5;
          font-weight: 600;
        }
      }
    }

    .price_container {
      display: flex;
      align-items: flex-end;
      gap: 10px;

      .price {
        color: $text-clr-3;
        font-weight: 800;
        font-size: 1.5rem;
      }

      .old_price {
        font-weight: 600;
        color: $text-clr-6;
        text-decoration: line-through 2px solid $text-clr-6;
      }

      button {
        align-self: center;
        margin-left: auto;
        padding: 5px;
        border-radius: 5px;
        font-size: 1.3rem;
        background-color: rgb(255, 200, 124);
        background-image: -webkit-linear-gradient(
          left,
          rgb(231, 185, 69) 11.2%,
          rgb(240, 144, 19) 91.1%
        );

        background: linear-gradient(
          109.6deg,
          rgb(231, 185, 69) 11.2%,
          rgb(240, 144, 19) 91.1%
        );

        color: $cart-clr;
      }
    }
  }
}
