@import '/styles/themes/themes.module.scss';

.price_container {
  display: flex;
  align-items: flex-end;
  gap: 5px;

  .current_price {
    color: $text-clr-1;
    font-weight: 500;
    font-size: 1.5rem;

    @media (max-width: 500px) {
      font-size: 1.3rem;
    }
  }

  .old_price {
    font-weight: 500;
    color: $text-clr-6;
    text-decoration: line-through 2px solid $text-clr-6;
    font-size: 1.2rem;

    @media (max-width: 500px) {
      font-size: 1rem;
    }
  }

  p:last-of-type {
    margin-right: auto;
  }
}
