@import '/styles/themes/themes.module.scss';

.rating {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 30px 0;
  border-bottom: 1px solid $border-clr-2;

  .icon {
    font-size: 1.3rem;
    color: $disabled-clr-1;
    align-items: center;

    &.active {
      color: $star-clr;
    }
  }

  p {
    font-weight: 600;
    color: $text-clr-5;

    &:first-of-type {
      color: $text-clr-3;
    }
  }
}
