@import '/styles/themes/themes.module.scss';

.clear_filters_btn {
  width: 100%;
  padding: 7.5px 10px;

  button {
    width: 100%;
    padding: 7.5px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    color: $text-clr-3;
    background-color: $clear-filters-btn;
  }
}
