@import '/styles/themes/themes.module.scss';

.favorites_btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 50%;
  background-color: $bk-clr-3;
  color: $text-clr-4;

  &:hover {
    color: $acc-clr-1;
  }
}
