@import '/styles/themes/themes.module.scss';

.close_sidebar_block {
  width: 100%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 5px #d6d6d6;
  overflow: hidden;
  transition: height 300ms;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;

  @media (max-width: 1200px) {
    display: flex;
  }

  h4 {
    font-size: 1rem;
    font-weight: 500;
  }
}
