@import '/styles/themes/themes.module.scss';

.stars {
  display: flex;
  align-items: center;
  gap: 10px;

  @media only screen and (max-width: 500px) {
    gap: 5px;
  }

  button {
    font-size: 2rem;
    color: $product-reviews-modal-stars-clr;

    @media only screen and (max-width: 500px) {
      font-size: 1.5rem;
    }

    &.active {
      color: $product-reviews-modal-stars-clr-active;
    }
  }

  span {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 5px;
    color: $product-reviews-modal-stars-span-clr;

    @media only screen and (max-width: 500px) {
      font-size: 1rem;
    }

    &.error {
      color: $product-reviews-modal-stars-error-clr;
    }
  }
}
