@import '/styles/themes/themes.module.scss';

.card {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  position: relative;
  overflow: hidden;

  @media (max-width: 500px) {
    display: flex;
    align-items: center;
    padding: 0px;
    border-radius: 0;
  }

  .favorite_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    font-size: 1.3rem;
    color: $icon-clr-1;
    transition: 300ms color;
    background-color: $white;
    width: max-content;
    border-radius: 50%;

    @media (max-width: 500px) {
      left: 0;
      padding: 10px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 1.1rem;
    }

    &:hover {
      color: $acc-clr-1;
    }
  }

  .img_container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: contain;

      @media (max-width: 500px) {
        width: 150px;
      }
      @media (max-width: 370px) {
        width: 100px;
      }
    }
  }

  .info_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5px;

    @media (max-width: 500px) {
      padding: 5px;
    }

    h2 {
      font-size: 1rem;
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $text-clr-3;
      height: 58px;

      &:hover {
        text-decoration: underline;
      }
    }

    .rating_container {
      display: flex;
      align-items: center;
      gap: 1.25px;
      color: rgb(160, 160, 160);
      font-size: 1.2rem;

      .star_clr {
        color: $star-clr;
      }

      span {
        font-size: 0.9rem;
        font-weight: 600;

        &:first-of-type {
          color: $star-clr;
        }
      }
    }

    .flex_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      .price_container {
        display: flex;
        align-items: flex-end;
        gap: 2.5px;

        @media (max-width: 320px) {
          flex-direction: column-reverse;
          align-items: flex-start;
          gap: 0;
          justify-content: center;
        }

        h3 {
          font-size: 1.2rem;
          font-weight: 600;
          color: $acc-clr-1;
        }

        h4 {
          color: grey;
          opacity: 0.7;
          font-weight: 600;
          text-decoration: line-through;
          font-size: 0.9rem;
        }
      }

      .cart_btn {
        padding: 5px;
        font-size: 1.3rem;
        border-radius: 5px;
        background-color: $acc-clr-1;
        color: white;
        transition: 300ms background-color, 300ms color;
        border: 1px solid $acc-clr-1;

        &:hover {
          background-color: transparent;
          color: $acc-clr-1;
        }
      }
    }
  }
}
