@import '/styles/themes/themes.module.scss';

.radio_btns {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  gap: 20px;
  padding: 20px;

  @media only screen and (max-width: 800px) {
    padding: 15px;
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 20px;
    height: 20px;
    border: 2px solid $promotion-slider-radio-btn-border-clr;
    border-radius: 50%;
    background-color: $promotion-slider-radio-btn-bk-clr;
    box-shadow: $promotion-slider-radio-btn-box-shadow;

    @media only screen and (max-width: 1200px) {
      width: 15px;
      height: 15px;
    }

    &:hover {
      transform: scale(1.1);
    }

    &.active {
      background-color: $acc-clr-1;
      border-color: $acc-clr-1;
    }
  }
}
