@import '../../../../../../styles/variables.module.scss';

.author {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (max-width: 1250px) {
    flex-direction: row;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
    justify-content: center;

    h4 {
      font-size: 1rem;
    }

    p {
      font-size: 0.9rem;
      color: $text-clr-4;
    }
  }
}
