@import '/styles/themes/themes.module.scss';

.delete_review {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $product-reviews-modal-wrapper-bk;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  display: none;

  &.active {
    display: flex;
  }

  @media only screen and (max-height: 600px) {
    padding: 0;
  }
  @media only screen and (max-width: 700px) {
    padding: 0;
  }

  .container {
    max-width: 500px;
    width: 100%;
    background-color: $product-reviews-modal-bk;
    border-radius: 5px;
    overflow-x: hidden;

    .wrapper {
      padding: 20px 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        font-size: 1.1rem;
        text-align: center;
        color: $product-reviews-modal-delete-review-h3-clr;
      }

      button {
        padding: 15px;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        background-color: $product-reviews-modal-delete-review-btn-bk-clr;
        color: $product-reviews-modal-delete-review-btn-clr;
        border-radius: 5px;
      }

      @media only screen and (max-width: 700px) {
        padding: 15px 10px;
      }
    }
  }
}
