@import '/styles/themes/themes.module.scss';

.submit_btn {
  justify-content: center;
  align-items: center;
  padding: 13px 100px;
  background-color: $product-reviews-modal-submit-btn-bk-clr;
  color: $product-reviews-modal-submit-btn-clr;
  width: max-content;
  border-radius: 30px;
  font-weight: 600;
  border: 1px solid $product-reviews-modal-submit-btn-border-clr;
  transition: 300ms background-color, 300ms color;

  @media (max-width: 500px) {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
  }

  &:hover {
    background-color: $product-reviews-modal-submit-btn-bk-clr-hover;
    color: $product-reviews-modal-submit-btn-clr-hover;
  }
}
