@import '/styles/themes/themes.module.scss';

.submit_btn {
  justify-content: center;
  align-items: center;
  padding: 13px 100px;
  background-color: $acc-clr-1;
  color: $text-clr-1;
  width: max-content;
  border-radius: 30px;
  font-weight: 600;
  border: 1px solid $acc-clr-1;
  transition: 300ms background-color, 300ms color;

  @media (max-width: 500px) {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
  }

  &:hover {
    background-color: transparent;
    color: $acc-clr-1;
  }
}
