@import '/styles/themes/themes.module.scss';

.help_link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $sidebar-help-link-clr;
  font-size: 1rem;
  padding: 7.5px 15px;
  font-weight: 600;

  .icon {
    font-size: 1.2rem;
  }
}
