@import '/styles/themes/themes.module.scss';

.rating {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1.3rem;
  color: $text-clr-4;

  .star_clr {
    color: $star-clr;
  }

  span {
    font-size: 0.9rem;

    &:first-of-type {
      color: $star-clr;
      font-weight: 500;
    }
    &:last-of-type {
      font-weight: 500;
    }
  }
}
