@import '/styles/themes/themes.module.scss';

.icons {
  display: flex;
  align-items: center;
  gap: clamp(10px, 1.6vw, 30px);

  .account_link,
  .favorites_link,
  .cart_link {
    font-size: 2rem;
    color: $navbar-icons-clr;
    padding: 5px;
    transition: 300ms color;
    position: relative;

    @media (max-width: 800px) {
      font-size: 1.6rem;
    }

    &:hover {
      color: $acc-clr-1;

      span {
        color: $navbar-products-count-clr;
      }
    }
  }

  .cart_link span {
    position: absolute;
    background-color: $acc-clr-1;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 50%;
    transition: 300ms color;
    top: -5px;
    right: -5px;

    @media (max-width: 800px) {
      padding: 2.5px 7.5px;
    }
  }
}
