@import '/styles/themes/themes.module.scss';

.specification_option {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 3px;
  padding: 7.5px 10px;

  input {
    margin-right: 10px;
  }

  span {
    color: #999;
  }
}
