@import '/styles/themes/themes.module.scss';

.title {
  text-align: center;
  font-size: 2rem;
  color: $authentification-title-clr;
  font-weight: 500;
  margin-bottom: 10px;

  @media only screen and (max-width: 350px) {
    font-size: 1.3rem;
  }
}
