@import '/styles/themes/themes.module.scss';

.title_container {
  width: 100%;
  overflow: hidden;

  a {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $text-clr-1;

    &:hover {
      text-decoration: underline;
    }
  }
}
