@import '/styles/themes/themes.module.scss';

.footer {
  width: 100%;
  background-color: $footer-bk-clr;
  border-top: 2px solid $footer-border-top-clr;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: calc(var(--sidebar-width) + var(--padding-side));
  padding-right: var(--padding-side);

  @media only screen and (max-width: 800px) {
    padding: 30px 15px;
  }

  .footer_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    @media only screen and (max-width: 580px) {
      .logo {
        width: 100%;
      }
    }

    .logo img {
      display: block;
      width: 150px;
      height: auto;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;

      li a {
        text-transform: uppercase;
        font-size: 0.9rem;
        color: $footer-links-color;

        &:hover {
          color: $footer-links-color-hover;
        }
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: $footer-line-bk-clr;
    margin: 10px 0;
  }

  .social_links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    li a {
      font-size: 2rem;
      color: $acc-clr-1;
      display: flex;
      padding: 10px;
      transition: 300ms color;

      &:hover {
        color: $footer-social-icons-hover;
      }
    }
  }

  & > p {
    text-align: center;
    color: $footer-copyright-clr;
    font-size: 0.9rem;
  }
}
