@import '/styles/themes/themes.module.scss';

.actions {
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 15px;

  @media only screen and (max-width: 360px) {
    padding: 15px 0;
  }

  @media only screen and (max-width: 320px) {
    flex-direction: column;
    gap: 10px;
  }

  .cart_btn,
  .favorite_btn {
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 600;
    transition: 300ms background-color, 300ms, color, 300ms border;

    @media only screen and (max-width: 380px) {
      padding: 10px 20px;
      font-size: 0.9rem;
    }

    @media only screen and (max-width: 320px) {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }

  .cart_btn {
    background-color: $product-showcase-cart-btn-bk-clr;
    color: $product-showcase-cart-btn-clr;
    border: 1px solid $product-showcase-cart-btn-bk-clr;

    &.disabled {
      opacity: 0.5;
      user-select: none;
      pointer-events: none;
    }

    &:hover {
      background-color: transparent;
      color: $product-showcase-cart-btn-bk-clr;
    }
  }

  .favorite_btn {
    border: 1px solid $product-showcase-favorite-btn-clr;
    color: $product-showcase-favorite-btn-clr;

    &:hover {
      background-color: $product-showcase-favorite-btn-bk-clr-hover;
      color: $product-showcase-favorite-btn-clr-hover;
      border-color: $product-showcase-favorite-btn-clr-hover;
    }
  }
}
