@import '/styles/themes/themes.module.scss';

.container {
  max-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;

  & > div:first-of-type {
    width: 100%;
    background-color: $authentification-container-bk;
    border-radius: 5px;
    box-shadow: $authentification-container-box-shadow;
    padding: 30px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 350px) {
      padding: 15px 15px 20px 15px;
    }
  }
}
