@import '/styles/themes/themes.module.scss';

.products {
  width: 100%;
  padding: 40px 70px;

  @media (max-width: 1200px) {
    padding: 20px 15px;
  }
  @media only screen and (max-width: 500px) {
    padding: 10px 0;
  }

  .center {
    max-width: 1540px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 20px;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
