@import '/styles/themes/themes.module.scss';

.google_btn {
  width: 100%;
  background-color: $google-btn-bk;
  color: $google-btn-clr;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px 0;
  position: relative;

  &:hover {
    background-color: $google-btn-bk-hover;
  }

  span {
    display: flex;

    &:first-of-type {
      position: absolute;
      left: 0;
      font-size: 1.2rem;
      border-right: 1px solid $google-btn-inside-border-clr;
      padding: 5px 10px;
    }

    &:last-of-type {
      justify-content: center;
      align-items: center;
      font-weight: 500;
    }
  }
}
