@import '../../../styles/variables.module.scss';

.products_general_filters {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  background-color: $white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: $box-shadow-1;

  @media only screen and (max-width: 380px) {
    width: 100%;
    border-radius: 5px;
    justify-content: space-around;
    gap: 0;
  }

  & > button,
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: 600;
    font-size: 1.1;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 20px;
    transition: color 300ms, background-color 300ms;
    position: relative;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: $searchbar-bk-clr;
      color: $text-clr-1;
    }

    &.active {
      background-color: $searchbar-bk-clr;
      color: $text-clr-1;
      border-radius: 15px;
      border-bottom-left-radius: 0;

      @media only screen and (max-width: 380px) {
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    @media only screen and (max-width: 380px) {
      font-size: 0.9rem;
      padding: 5px 8px;
    }

    .icon {
      font-size: 1rem;

      @media only screen and (max-width: 380px) {
        font-size: 0.8rem;
      }
    }
  }

  & > button {
    display: none;

    @media only screen and (max-width: 1200px) {
      display: flex;
    }
  }

  //
  // DROPDOWN
  //
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    background-color: $searchbar-bk-clr;
    border-radius: 0 5px 5px 5px;
    width: max-content;
    min-width: 100%;
    height: auto;
    overflow: hidden;
    display: none;

    &.active {
      display: block;
    }

    button {
      color: $text-clr-2;
      padding: 5px 10px;
      width: 100%;
      transition: color 300ms, background-color 300ms;

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        color: $text-clr-1;
      }

      &.active {
        background-color: rgba(255, 255, 255, 0.4);
        color: $text-clr-1;
      }

      @media only screen and (max-width: 380px) {
        font-size: 0.9rem;
        padding: 5px 8px;
      }
    }
  }
}
