@import '../../../../styles/variables.module.scss';

.review_form {
  width: 100%;
  padding: 35px 50px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 600px) {
    padding: 20px 35px;
  }
  @media only screen and (max-width: 500px) {
    padding: 20px 15px;
  }

  .input_container,
  .textarea_container {
    display: flex;
    flex-direction: column;
    position: relative;

    label {
      font-weight: 600;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    input {
      outline: transparent;
      padding: 8px;
      border: 1px solid $border-clr-3;
      border-radius: 3px;
      transition: 300ms border-color;
      background-color: transparent;

      &:focus {
        border-color: $acc-clr-1;
      }

      &::placeholder {
        opacity: 0.6;
      }

      &.error {
        border-color: rgb(201, 55, 55);

        &:focus {
          border-color: rgb(201, 55, 55);
        }
      }
    }

    textarea {
      outline: transparent;
      padding: 8px;
      border: 1px solid $border-clr-3;
      border-radius: 3px;
      transition: 300ms border-color;
      background-color: transparent;
      resize: vertical;
      min-height: 100px;
      font-size: 1rem;

      &::placeholder {
        opacity: 0.6;
      }

      &:focus {
        border-color: $acc-clr-1;
      }

      &.error {
        border-color: rgb(201, 55, 55);

        &:focus {
          border-color: rgb(201, 55, 55);
        }
      }
    }

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span:first-of-type {
        font-size: 0.9rem;
        color: rgb(201, 55, 55);
        opacity: 0;

        &.active {
          opacity: 1;
        }
      }

      span:last-of-type {
        color: $text-clr-4;
        font-size: 0.9rem;
      }
    }
  }

  p:first-of-type {
    font-size: 0.9rem;
    margin-top: 5px;

    a {
      display: inline-block;
      color: $acc-clr-1;
      font-weight: 600;
      font-size: 0.9rem;
      margin-left: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p:last-of-type {
    font-size: 0.75rem;
    color: $text-clr-4;
    margin-top: 5px;

    a {
      font-size: 0.75rem;
      color: $text-clr-4;
      display: inline-block;
      text-decoration: underline;
    }
  }

  & > button {
    justify-content: center;
    align-items: center;
    padding: 13px 100px;
    background-color: $acc-clr-1;
    color: $text-clr-1;
    width: max-content;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 20px;
    border: 1px solid $acc-clr-1;
    transition: 300ms background-color, 300ms color;

    @media (max-width: 500px) {
      width: 100%;
      padding: 10px;
      border-radius: 20px;
    }

    &:hover {
      background-color: transparent;
      color: $acc-clr-1;
    }
  }
}
