@import '/styles/themes/themes.module.scss';

.answer {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  .wrapper {
    display: flex;
    justify-content: space-between;

    h6 {
      font-size: 0.9rem;
      color: $product-question-answer-author-clr;
      font-weight: 500;
    }

    .dropdown_btn {
      position: relative;
      cursor: pointer;
      user-select: none;

      .dropdown {
        position: absolute;
        z-index: 2;
        top: 100%;
        right: 5px;
        background-color: $product-question-dropdown-bk-clr;
        border-radius: 3px;
        box-shadow: $product-questions-dropdown-box-shadow;
        overflow: hidden;
        display: none;

        &.active {
          display: block;
        }

        & > button {
          width: 100%;
          padding: 5px 10px;
          color: $product-questions-dropdown-btn-clr;

          &:hover {
            background-color: $product-questions-dropdown-btn-bk-clr-hover;
            color: $product-questions-dropdown-btn-clr-hover;
          }
        }
      }
    }
  }

  h5 {
    font-size: 1rem;
    color: $product-question-answer-clr;
  }
}
