@import '/styles/themes/themes.module.scss';

.filters {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid $product-reviews-border-clr;
  padding: 15px 0;

  @media (max-width: 520px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 330px) {
    gap: 10px;
  }
}
