@import '../../../styles/variables.module.scss';

.card {
  width: 100%;
  background-color: $white;
  border-radius: 15px;
  box-sizing: $box-shadow-1;
  transition: 300ms ease-in-out box-shadow;
  overflow: hidden;

  &:hover {
    box-shadow: $box-shadow-3;
  }

  @media only screen and (max-width: 500px) {
    border-radius: 10px;
  }

  @media only screen and (max-width: 380px) {
    display: grid;
    grid-template-columns: 120px 1fr;
  }

  .img_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 250/250;
    position: relative;
    padding: 15px;

    @media only screen and (max-width: 500px) {
      padding: 0px;
    }

    @media only screen and (max-width: 380px) {
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    button {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 1.3rem;
      color: $icon-clr-1;
      transition: 300ms color;
      padding: 5px;
      background-color: $white;
      border-radius: 50%;

      @media only screen and (max-width: 500px) {
        top: 5px;
        right: 5px;
        font-size: 1rem;
      }

      &:hover {
        color: $acc-clr-1;
      }
    }
  }

  .info_container {
    width: 100%;
    height: auto;
    padding: 15px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media only screen and (max-width: 500px) {
      padding: 10px;
    }

    //
    // TITLE
    //
    h2 {
      height: 58px;

      a {
        color: $text-clr-3;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;

        @media only screen and (max-width: 500px) {
          font-size: 0.9rem;
        }

        @media only screen and (max-width: 350px) {
          font-size: 0.8rem;
        }
      }

      @media only screen and (max-width: 500px) {
        height: 50px;
      }

      @media only screen and (max-width: 350px) {
        height: 48px;
      }
    }

    //
    // RATING
    //
    .rating {
      width: 100%;
      display: flex;
      align-items: center;

      .star {
        font-size: 1.1rem;
        color: $text-clr-4;

        @media only screen and (max-width: 500px) {
          font-size: 1rem;
        }

        &.active {
          color: $star-clr;
        }

        @media only screen and (max-width: 350px) {
          font-size: 0.9rem;
          min-width: 15px;
        }
      }

      p {
        font-size: 0.9rem;
        font-weight: 600;
        gap: 1px;

        @media only screen and (max-width: 500px) {
          font-size: 0.8rem;
        }

        &:first-of-type {
          color: $text-clr-3;
          margin: 0 4px;

          @media only screen and (max-width: 350px) {
            margin: 0 2px;
          }
        }

        &:last-of-type {
          color: $text-clr-4;
        }
      }
    }

    //
    // BONUS
    //

    .bonus {
      display: flex;
      align-items: center;
      gap: 5px;
      width: 100%;
      height: 20px;
      font-size: 0.81rem;
      font-weight: 600;

      span {
        color: $acc-clr-1;
      }

      @media only screen and (max-width: 500px) {
        font-size: 0.75rem;
      }
    }

    .priceing {
      width: 100%;
      flex-direction: column;
      display: flex;

      p:first-of-type {
        font-size: 0.9rem;
        color: $text-clr-4;
        font-weight: 600;
        text-decoration: line-through;
        height: 17px;

        &.inactive {
          opacity: 0;
        }

        @media only screen and (max-width: 500px) {
          font-size: 0.8rem;
        }
      }

      p:last-of-type {
        font-size: 1.1rem;
        color: $acc-clr-1;
        font-weight: 600;

        @media only screen and (max-width: 500px) {
          font-size: 0.95rem;
        }
      }
    }

    .cart_btn {
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 5px;
      background-color: rgb(255, 200, 124);
      background-image: -webkit-linear-gradient(
        left,
        rgb(231, 185, 69) 11.2%,
        rgb(240, 144, 19) 91.1%
      );

      background: linear-gradient(
        109.6deg,
        rgb(231, 185, 69) 11.2%,
        rgb(240, 144, 19) 91.1%
      );
      color: $text-clr-1;
      padding: 8px;
      border-radius: 3px;
      white-space: nowrap;
      word-wrap: break-word;

      @media only screen and (max-width: 500px) {
        font-size: 0.85rem;
        padding: 5px;
      }

      @media only screen and (max-width: 350px) {
        .icon {
          display: none;
        }
      }
    }
  }
}
