@import '../../../styles/variables.module.scss';

.products {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;

  &.no_sidebar {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    @media only screen and (max-width: 1750px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media only screen and (max-width: 1650px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (max-width: 1450px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 380px) {
      grid-template-columns: 1fr;
    }
  }

  @media only screen and (max-width: 1650px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media only screen and (max-width: 1450px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}
