$white: white;
$black: black;
// accent colors
$acc-clr-1: #ff9900;
$acc-clr-1-hover: #af6900;
$acc-clr-2: #222f3e;
$acc-clr-3: #a5700f;
// background colors
$bk-clr-1: #f2f2f5;
$bk-clr-2: #161d25;
$bk-clr-3: white;
$bk-clr-4: #222f3e;
$bk-clr-5: grey;
$bk-clr-6: #161d2567;
$bk-clr-7: linear-gradient(to right, #434343 0%, black 100%);
$bk-clr-8: rgba(128, 128, 128, 0.2);
$bk-clr-overlay: rgba(0, 0, 0, 0.5);
$bk-clr-9: #eff9fe;
// text colors
$text-clr-1: #3b404a;
$text-clr-2: #e2e3e4;
$text-clr-3: white;
$text-clr-4: #999;
$text-clr-5: #63676e;
$text-clr-6: #c5c5c5;
$text-clr-7: #969aa3;
$text-clr-8: #6f7581;
$text-clr-9: black;
// border colors
$border-clr-1: #424b54;
$border-clr-2: #d5dee6;
$border-clr-3: #a7a7a7;
// box shadows
$box-shadow-1: 1px 2px 5px #ccc;
$box-shadow-2: 0 0 5px #d6d6d6;
$box-shadow-3: 0 0 50px #c9c9c9;
$box-shadow-4: 0 0 5px rgba(0, 0, 0, 0.2);
// other colors
$error-clr-1: rgb(187, 78, 78);
$success-clr-1: rgb(146, 223, 146);
$star-clr: #ffca0d;
$clear-filters-btn: red;
$out-of-stock-clr: red;
$limited-stock-clr: orange;
$stock-avaliable-clr: green;
