$main-clr: #f2f2f5;
$secondary-clr: #161d25;
$acc-clr-1: #ff9900;
$acc-clr-1-hover: #af6900;
$rating-clr: #ffca0d;

// COLORS
$white: white;
$black: black;

//
$acc-clr-2: #1a7f91;
$acc-clr-3: #a5700f;

// TEXT COLORS
$text-clr-1: #ffffff;
$text-clr-2: #e2e3e4;
$text-clr-3: #3b404a;
$text-clr-4: #999;
$text-clr-5: #63676e;
$text-clr-6: #c5c5c5;

// BORDER COLORS
$border-clr-1: #424b54;
$border-clr-2: #d5dee6;
$border-clr-3: #a7a7a7;

// ICON CLRS
$icon-clr-1: #969aa3;
$icon-clr-2: #6f7581;

// DISABLED CLRS
$disabled-clr-1: rgba(128, 128, 128, 0.6);

// LAYOUT
// $navbar-height: 90px;
// $navbar-index: 888;
// $sidebar-width: 240px;
// $sidebar-index: 888;
// --navbar-height: 200px;

// OTHER COLORS
$product-card-clr: #ffffff;
$authentification-form-bk: white;
$error-clr: rgb(187, 78, 78);
$no-error-clr: rgb(28, 138, 28);
$box-shadow-1: 1px 2px 5px #ccc;
$box-shadow-2: 0 0 5px #d6d6d6;
$cart-clr: rgb(255, 255, 255);
$remove-all-filters-btn-bk: rgb(150, 45, 45);

// BOX SHADOWS
$box-shadow-1: 1px 2px 5px #ccc;
$box-shadow-2: 0 0 5px #d6d6d6;
$box-shadow-3: 0 0 50px #c9c9c9;

// RANGE
$track-clr-1: $acc-clr-1;
$track-clr-2: rgb(170, 170, 170);
$thumb-clr-1: $acc-clr-1;

// SINGLE PRODUCT PAGE
$module-bk-1: rgb(240, 240, 240);
$module-bk-2: rgb(250, 250, 250);
//
//
//

// authentification components
$authentification-container-bk: white;
$authentification-title-clr: #999;
$authentification-container-box-shadow: 1px 2px 5px #ccc;
$authentification-form-error-clr: rgb(230, 74, 74);
$authentification-input-border-clr: #d5dee6;
$authentification-input-placeholder-clr: #999;
$authentification-submit-btn-clr: white;
$authentification-line-bk-clr: #d5dee6;
$authentification-line-clr: rgba(0, 0, 0, 0.5);

// google btn
$google-btn-bk: #cf553d;
$google-btn-bk-hover: #ff2a00;
$google-btn-clr: white;
$google-btn-inside-border-clr: rgba(255, 255, 255, 0.5);

// footer
$footer-bk-clr: #161d25;
$footer-border-top-clr: #424b54;
$footer-links-color: rgb(226, 226, 226);
$footer-links-color-hover: rgba(226, 226, 226, 0.5);
$footer-line-bk-clr: #d5dee6;
$footer-social-icons-hover: white;
$footer-copyright-clr: #e2e3e4;

// navbar
$navbar-bk-clr: #161d25;
$navbar-border-bottom-clr: #424b54;
$navbar-icons-clr: white;
$navbar-products-count-clr: white;
$sidebar-btn-clr: white;

// searchbar
$searchbar-border-clr: #424b54;
$searchbar-clr: #e2e3e4;
$searchbar-bk-clr: #222f3e;
$searchbar-placeholder-clr: #ccc;
$searchbar-btn-clr: white;

// sidebar
$sidebar-bk-clr: #161d25;
$sidebar-border-right-clr: #424b54;
$sidebar-links-header-bk-clr: #2d3c4c;
$sidebar-help-link-clr: white;
$sidebar-link-clr: #e2e3e4;
$sidebar-link-clr-hover: #e2e3e47a;
$sidebar-layer-bk-clr: #161d25;
$sidebar-layer-header-bk-clr: #2d3c4c;
$sidebar-user-btn-clr: white;

// error notification
$error-notification-bk-clr: white;
$error-notification-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
$error-notification-title-clr: black;
$error-notification-timer-bk-clr: rgb(223, 133, 133);
$error-notification-icon-clr: rgb(223, 133, 133);
$error-notification-text-clr: #3b404a;
$error-notification-time-clr: #999;

// success notification
$success-notification-bk-clr: white;
$success-notification-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
$success-notification-title-clr: black;
$success-notification-timer-bk-clr: rgb(146, 223, 146);
$success-notification-icon-clr: rgb(146, 223, 146);
$success-notification-text-clr: #3b404a;
$success-notification-time-clr: #999;

// home components
// news letter
$news-letter-bk-gradient: linear-gradient(to right, #434343 0%, black 100%);
$news-letter-input-border-clr: #d5dee6;
$news-letter-input-clr: #e2e3e4;
$news-letter-input-placeholder-clr: #c5c5c5;
$news-letter-title-clr: #e2e3e4;
$news-letter-subtitle-clr: #999;
$news-letter-submit-btn-clr: white;
// promotion slider
$promotion-slider-radio-btn-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
$promotion-slider-radio-btn-bk-clr: white;
$promotion-slider-radio-btn-border-clr: #1a7f91;
// product slider
$product-slider-button-bk-clr: white;
$product-slider-button-clr: #6f7581;
$product-slider-disabled-button-clr: #969aa3;

// card components
$favorites-btn-bk-clr: white;
$favorites-btn-clr: #6f7581;
$favorites-btn-clr-hover: $acc-clr-1;
$rating-clr: grey;
$star-clr: #ffca0d;
$cart-btn-clr: white;

// product card 1 components
$product-card-1-img-container-bk-clr: white;
$product-card-1-title-clr: #3b404a;
$price-container-current-price-clr: #3b404a;
$price-container-old-price-clr: #c5c5c5;

// features
// filter
$filter-label-clr: #63676e;
$filter-dropdown-border-clr: #a7a7a7;
$filter-dropdown-active-border-clr: $acc-clr-1;
$filter-dropdown-option-clr: #63676e;
$filter-dropdown-active-option-bk-clr: rgba(128, 128, 128, 0.3);
$filter-dropdown-option-hover-bk-clr: $acc-clr-1;
$filter-dropdown-option-hover-clr: white;
// sort
$sort-label-clr: #63676e;
$sort-dropdown-border-clr: #a7a7a7;
$sort-dropdown-active-border-clr: $acc-clr-1;
$sort-dropdown-option-clr: #63676e;
$sort-dropdown-active-option-bk-clr: rgba(128, 128, 128, 0.3);
$sort-dropdown-option-hover-bk-clr: $acc-clr-1;
$sort-dropdown-option-hover-clr: white;
// mini searchbar
$mini-searchbar-input-border-clr: #a7a7a7;
// pagination
$pagination-btn-border-clr: $acc-clr-1;
$pagination-btn-clr: $acc-clr-1;
$pagination-btn-active-bk-clr: $acc-clr-1;
$pagination-btn-active-clr: white;

// product details components
// product showcase
$product-showcase-h1-clr: #3b404a;
$product-showcase-bk-clr: white;
$product-showcase-border-clr: #d5dee6;
$product-showcase-title-clr: #999;
$product-showcase-cart-btn-clr: white;
$product-showcase-cart-btn-bk-clr: $acc-clr-1;
$product-showcase-favorite-btn-clr: #a7a7a7;
$product-showcase-favorite-btn-bk-clr-hover: black;
$product-showcase-favorite-btn-clr-hover: white;
$product-showcase-colors-border-bottom: #d5dee6;
$product-showcase-color-btn-clr: #63676e;
$product-showcase-color-border-clr: rgb(51, 51, 51);
$product-showcase-current-price-clr: #3b404a;
$product-showcase-old-price-clr: rgba(128, 128, 128, 0.6);
$product-showcase-stock-clr: #999;
$product-showcase-stock-clr-avaliable: green;
$product-showcase-stock-clr-limited: orange;
$product-showcase-stock-clr-out-of-stock: rgb(204, 88, 88);
$product-showcase-rating-star-clr: rgba(128, 128, 128, 0.6);
$product-showcase-rating-star-clr-active: #ffca0d;
$product-showcase-rating-clr: #3b404a;
$product-showcase-reviews-count-clr: rgba(128, 128, 128, 0.6);
$product-showcase-path-clr: rgba(128, 128, 128, 0.6);
$product-showcase-path-clr-hover: $acc-clr-1;
$product-showcase-slide-btn-bk-clr: white;
$product-showcase-slide-btn-clr: black;
$product-showcase-slide-btn-clr-hover: $acc-clr-1;
$product-showcase-slide-btn-clr-disabled: rgba(128, 128, 128, 0.5);
$product-showcase-image-btn-border-clr: $acc-clr-1;
// image viewer
$image-viewer-wrapper-bk-clr: rgba(0, 0, 0, 0.5);
$image-viewer-container-bk-clr: rgb(240, 240, 240);
$image-viewer-border-clr: #d5dee6;
$image-viewer-actions-clr: #a7a7a7;
$image-viewer-actions-clr-hover: $acc-clr-1;
$image-viewer-close-btn-clr: #63676e;
$image-viewer-slide-btn-bk-clr-hover: white;
$image-viewer-slide-btn-box-shadow-hover: 0 0 5px rgba(0, 0, 0, 0.1);
// product description
$product-description-bk-clr: white;
$product-description-title-clr: #3b404a;
$product-description-default-clr: #3b404a;
$product-description-overlay-clr: rgba(255, 255, 255, 0.5);
// product specifications
$product-specifications-bk-clr: white;
$product-specifications-title-clr: #3b404a;
$product-specifications-overlay-clr: rgba(255, 255, 255, 0.5);
$product-specifications-h3-clr: #3b404a;
$product-specifications-odd-row-bk-clr: #eff9fe;
$product-specifications-row-text-content-clr: #888888;
// product reviews
$product-reviews-border-clr: #d5dee6;
$product-reviews-add-review-btn-clr: $acc-clr-1;
$product-reviews-add-review-btn-clr-hover: white;
$product-reviews-add-review-btn-border-clr: $acc-clr-1;
$product-reviews-add-review-btn-bk-clr-hover: $acc-clr-1;
$product-reviews-actions-btns-clr: $acc-clr-1;
$product-reviews-actions-btns-clr-hover: $acc-clr-1-hover;
$product-reviews-more-dropdown-btns-clr: $acc-clr-1;
$product-reviews-more-dropdown-btns-clr-hover: $acc-clr-1-hover;
$product-review-like-btn-clr: $acc-clr-1;
$product-review-like-btn-clr-hover: $acc-clr-1-hover;
$product-reviews-add-comment-word-count-clr: #999;
$product-reviews-add-comment-btn-clr: white;
$product-reviews-add-comment-btn-clr-hover: $acc-clr-1;
$product-reviews-add-comment-btn-bk-clr: $acc-clr-1;
$product-reviews-add-comment-btn-bk-clr-hover: transparent;
$product-reviews-add-comment-btn-border-clr: $acc-clr-1;
$product-reviews-cancel-add-comment-btn-clr: $acc-clr-1;
$product-reviews-cancel-add-comment-btn-border-clr: $acc-clr-1;
$product-reviews-cancel-add-comment-btn-bk-clr: transparent;
$product-reviews-cancel-add-comment-btn-clr-hover: white;
$product-reviews-cancel-add-comment-btn-border-clr-hover: black;
$product-reviews-cancel-add-comment-btn-bk-clr-hover: black;
$product-reviews-author-clr: #3b404a;
$product-reviews-author-date-clr: #999;
$product-reviews-comment-author-clr: #63676e;
$product-reviews-comment-date-clr: #999;
$product-reviews-comment-dropdown-bk-clr: white;
$product-reviews-comment-dropdown-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
$product-reviews-comment-dropdown-btn-clr: #3b404a;
$product-reviews-comment-dropdown-btn-clr-hover: white;
$product-reviews-comment-dropdown-btn-bk-clr: transparent;
$product-reviews-comment-dropdown-btn-bk-clr-hover: $acc-clr-1;
$product-reviews-comment-clr: #63676e;
$product-reviews-edit-comment-textarea-border-clr: #d5dee6;
$product-reviews-edit-comment-textarea-border-clr-focus: $acc-clr-1;
$product-reviews-edit-comment-textarea-bk-clr: transparent;
$product-reviews-edit-comment-textarea-clr: #3b404a;
$product-reviews-edit-comment-save-btn-clr: white;
$product-reviews-edit-comment-save-btn-clr-hover: $acc-clr-1;
$product-reviews-edit-comment-save-btn-border-clr: $acc-clr-1;
$product-reviews-edit-comment-save-btn-bk-clr: $acc-clr-1;
$product-reviews-edit-comment-save-btn-bk-clr-hover: transparent;
$product-reviews-edit-comment-cancel-btn-clr: $acc-clr-1;
$product-reviews-edit-comment-cancel-btn-clr-hover: white;
$product-reviews-edit-comment-cancel-btn-border-clr: $acc-clr-1;
$product-reviews-edit-comment-cancel-btn-border-clr-hover: black;
$product-reviews-edit-comment-cancel-btn-bk-clr: transparent;
$product-reviews-edit-comment-cancel-btn-bk-clr-hover: black;
$product-review-title-clr: #3b404a;
$product-review-star-clr: grey;
$product-review-star-clr-active: #ffca0d;
$product-review-clr: #63676e;
$product-reviews-recommendations-clr: #3b404a;
$product-reviews-recommendations-paragraph-clr: #999;
$product-reviews-stars-container-clr: #3b404a;
$product-reviews-stars-container-clr-active: #ffca0d;
$product-reviews-chart-bar-bk-clr: rgba(128, 128, 128, 0.4);
$product-reviews-chart-bar-bk-clr-active: $acc-clr-1;
$product-reviews-chart-btn-clr: $acc-clr-1;
$product-reviews-modal-bk: rgb(250, 250, 250);
$product-reviews-modal-wrapper-bk: rgba(0, 0, 0, 0.5);
$product-reviews-modal-delete-review-btn-bk-clr: red;
$product-reviews-modal-delete-review-btn-clr: white;
$product-reviews-modal-delete-review-h3-clr: #3b404a;
$product-reviews-modal-header-title-clr: #3b404a;
$product-reviews-modal-header-link-clr: $acc-clr-1;
$product-reviews-modal-header-close-btn-clr: #63676e;
$product-reviews-modal-stars-clr: #63676e;
$product-reviews-modal-stars-clr-active: #ffca0d;
$product-reviews-modal-stars-span-clr: #3b404a;
$product-reviews-modal-stars-error-clr: rgb(170, 56, 56);
$product-reviews-modal-label-clr: #3b404a;
$product-reviews-modal-input-border-clr: #a7a7a7;
$product-reviews-modal-input-border-clr-focus: $acc-clr-1;
$product-reviews-modal-input-error-clr: rgb(170, 56, 56);
$product-reviews-modal-input-word-count-clr: #999;
$product-reviews-modal-first-paragraph-clr: #3b404a;
$product-reviews-modal-first-paragraph-link-clr: $acc-clr-1;
$product-reviews-modal-last-paragraph-clr: #999;
$product-reviews-modal-submit-btn-clr: white;
$product-reviews-modal-submit-btn-bk-clr: $acc-clr-1;
$product-reviews-modal-submit-btn-border-clr: $acc-clr-1;
$product-reviews-modal-submit-btn-clr-hover: $acc-clr-1;
$product-reviews-modal-submit-btn-bk-clr-hover: transparent;
// product questions
$product-questions-bk-clr: white;
$product-questions-border-clr: #d5dee6;
$product-questions-open-add-question-btn-clr: $acc-clr-1;
$product-questions-open-add-question-btn-border-clr: $acc-clr-1;
$product-questions-open-add-question-btn-bk-clr: transparent;
$product-questions-open-add-question-btn-bk-clr-hover: $acc-clr-1;
$product-questions-open-add-question-btn-clr-hover: white;
$product-questions-add-question-textarea-border-clr: $product-questions-border-clr;
$product-questions-header-h2-clr: #3b404a;
$product-questions-count-clr: #999;
$product-questions-add-question-textarea-border-clr-focus: $acc-clr-1;
$product-questions-add-question-word-count-clr: #999;
$product-question-add-question-btn-clr: white;
$product-question-add-question-btn-bk-clr: $acc-clr-1;
$product-question-add-question-btn-border-clr: $acc-clr-1;
$product-question-add-question-btn-clr-hover: $acc-clr-1;
$product-question-add-question-btn-bk-clr-hover: transparent;
$product-questions-cancel-add-question-btn-clr: $acc-clr-1;
$product-questions-cancel-add-question-btn-border-clr: $acc-clr-1;
$product-questions-cancel-add-question-btn-clr-hover: white;
$product-questions-cancel-add-question-btn-border-clr-hover: black;
$product-questions-cancel-add-question-btn-bk-clr-hover: black;
$product-question-comment-actions-clr: $acc-clr-1;
$product-question-dropdown-bk-clr: white;
$product-questions-dropdown-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
$product-questions-dropdown-btn-clr: #3b404a;
$product-questions-dropdown-btn-clr-hover: white;
$product-questions-dropdown-btn-bk-clr-hover: $acc-clr-1;
$product-questions-author-clr: #999;
$product-question-clr: #3b404a;
$product-question-answer-author-clr: #999;
$product-question-answer-clr: #3b404a;
