@import '/styles/themes/themes.module.scss';

.add_question {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  overflow: hidden;
  display: none;

  &.active {
    display: flex;
  }

  .textarea_container {
    display: flex;
    position: relative;

    textarea {
      width: 100%;
      height: 150px;
      outline: transparent;
      padding: 10px;
      border: 1px solid $product-questions-add-question-textarea-border-clr;
      border-radius: 3px;
      resize: vertical;
      position: relative;
      min-height: 150px;
      font-size: 1rem;
      transition: border 300ms;

      &:focus {
        border-color: $product-questions-add-question-textarea-border-clr-focus;
      }
    }

    span {
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      font-size: 0.9rem;
      color: $product-questions-add-question-word-count-clr;
    }
  }

  .btns_container {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      padding: 10px;
      border-radius: 3px;
      transition: 300ms color, 300ms background-color, border 300ms;
      font-weight: 500;
      font-size: 0.9rem;

      &:first-of-type {
        background-color: $product-question-add-question-btn-bk-clr;
        color: $product-question-add-question-btn-clr;
        border: 1px solid $product-question-add-question-btn-border-clr;

        &:hover {
          background-color: $product-question-add-question-btn-bk-clr-hover;
          color: $product-question-add-question-btn-clr-hover;
        }
      }

      &:last-of-type {
        border: 1px solid $product-questions-cancel-add-question-btn-border-clr;
        color: $product-questions-cancel-add-question-btn-clr;

        &:hover {
          background-color: $product-questions-cancel-add-question-btn-bk-clr-hover;
          color: $product-questions-cancel-add-question-btn-clr-hover;
          border-color: $product-questions-cancel-add-question-btn-border-clr-hover;
        }
      }
    }
  }
}
