@import '/styles/themes/themes.module.scss';

.edit_comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  textarea {
    width: 100%;
    height: 150px;
    outline: transparent;
    padding: 10px;
    border: 1px solid $border-clr-2;
    border-radius: 3px;
    resize: vertical;
    position: relative;
    min-height: 150px;
    font-size: 1rem;
    transition: border 300ms;

    &:focus {
      border-color: $acc-clr-1;
    }
    &::placeholder {
      color: $text-clr-4;
    }
  }

  .btn_container {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      padding: 10px;
      border-radius: 3px;
      transition: 300ms color, 300ms background-color, border 300ms;
      font-weight: 500;
      font-size: 0.9rem;

      &:first-of-type {
        background-color: $acc-clr-1;
        color: $text-clr-3;
        border: 1px solid $acc-clr-1;
        &:hover {
          background-color: transparent;
          color: $acc-clr-1;
        }
      }

      &:last-of-type {
        border: 1px solid $border-clr-3;
        color: $text-clr-4;
        background-color: transparent;
        &:hover {
          background-color: $border-clr-3;
          color: $text-clr-3;
        }
      }
    }
  }
}
