@import '/styles/themes/themes.module.scss';

.title {
  font-size: 2rem;
  color: $product-showcase-h1-clr;
  font-weight: 600;
  line-height: 1.4;

  @media (max-width: 1650px) {
    line-height: 1.3;
    font-size: 1.75rem;
  }
  @media (max-width: 600px) {
    padding: 0 var(--padding-side);
    font-size: 1.5rem;
  }
}
