@import '/styles/themes/themes.module.scss';

.row {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;

  button {
    color: $product-reviews-chart-btn-clr;
    font-weight: 400;
    font-size: 0.9rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .bar {
    border-radius: 10px;
    background-color: $product-reviews-chart-bar-bk-clr;
    overflow: hidden;

    div {
      height: 100%;
      background-color: $product-reviews-chart-bar-bk-clr-active;
    }
  }
}
