@import '/styles/themes/themes.module.scss';

.row {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  gap: 10px;

  button {
    color: $product-reviews-chart-btn-clr;

    &:hover {
      text-decoration: underline;
    }
  }

  .bar {
    border-radius: 10px;
    background-color: $product-reviews-chart-bar-bk-clr;
    overflow: hidden;

    div {
      height: 100%;
      background-color: $product-reviews-chart-bar-bk-clr-active;
    }
  }
}
