@import '../../../../../styles/variables.module.scss';

.products_pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 10px 0;

  @media only screen and (max-width: 380px) {
    justify-content: center;
    gap: 3px;
  }

  & > button {
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid $acc-clr-1;
    padding: 5px 10px;

    @media only screen and (max-width: 380px) {
      font-size: 0.9rem;
      border: none;
      padding: 3px 5px;
      border-radius: 0;
    }

    &:first-of-type,
    &:last-of-type {
      padding: 5px;
      border: 1px solid $acc-clr-1;
      border-radius: 3px;
      font-size: 1.2rem;
      transition: background-color 300ms, color 300ms;

      @media only screen and (max-width: 380px) {
        font-size: 1rem;
        border: none;
        padding: 3px 5px;
        border-radius: 0;
      }

      &:hover {
        background-color: $white;
        color: $acc-clr-1;

        @media only screen and (max-width: 380px) {
          color: $acc-clr-1;
          background-color: transparent;
        }
      }
    }

    &.disabled {
      opacity: 0.4;
      cursor: default;
    }
  }

  .buttons_container {
    display: flex;
    align-items: center;
    overflow: hidden;

    button {
      padding: 2px;

      span {
        font-size: 1rem;
        border-radius: 3px;
        border: 1px solid $acc-clr-1;
        padding: 5px 10px;
        width: 40px;

        @media only screen and (max-width: 380px) {
          font-size: 0.9rem;
          border: none;
          padding: 3px 5px;
          width: 35px;
        }

        &.active {
          color: $text-clr-1;
          background-color: $acc-clr-1;
        }
      }
    }
  }
}
