@import '../../../../styles/variables.module.scss';

.pagination {
  grid-column: 1 / -1;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  @media (max-width: 350px) {
    gap: 5px;
  }

  button {
    border: 1px solid $acc-clr-1;
    border-radius: 3px;
    color: $acc-clr-1;
    align-items: center;
    font-size: 1rem;
    padding: 5px 8px;

    &.active {
      background-color: $acc-clr-1;
      color: white;
    }
  }

  .slide_left,
  .slide_right {
    padding: 5px;
  }

  .disabled {
    user-select: none;
    opacity: 0.5;
  }
}
