@import '/styles/themes/themes.module.scss';

.path_container {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 5px;

  @media only screen and (max-width: 1150px) {
    display: none;
  }

  a {
    color: $text-clr-6;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;

    &:hover {
      color: $acc-clr-1;
    }
  }
}
