@import '/styles/themes/themes.module.scss';

.like {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  cursor: pointer;
  position: relative;

  @media (max-width: 450px) {
    &:nth-of-type(2) span,
    &:nth-of-type(3) span {
      display: none;
    }
  }

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    border-right: none;
  }

  & > .icon {
    font-size: 1.4rem;

    @media (max-width: 450px) {
      font-size: 1.2rem;
    }
  }

  span {
    font-size: 0.9rem;
    font-weight: 600;
  }
}
