@import '/styles/themes/themes.module.scss';

.actions {
  // variables
  --btn-padding: 15px 30px;
  --btn-border-radius: 5px;
  --btn-transition: 300ms background-color, 300ms, color, 300ms border;
  --btn-fz: 1rem;
  // styles
  width: 100%;
  padding: var(--row-padding-tb) 0;
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: 600px) {
    padding: var(--row-padding-tb) var(--padding-side);
  }
  @media (max-width: 400px) {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cart_btn,
  .favorite_btn {
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius);
    font-weight: 500;
    font-size: var(--btn-fz);
    transition: var(--btn-transition);
    justify-content: center;
    align-items: center;
  }

  .cart_btn {
    background-color: $acc-clr-1;
    color: $text-clr-3;
    border: 1px solid $acc-clr-1;

    &:hover {
      background-color: transparent;
      color: $acc-clr-1;
    }
  }

  .favorite_btn {
    border: 1px solid $border-clr-3;
    color: $text-clr-4;

    &:hover {
      background-color: $border-clr-3;
      color: $text-clr-3;
    }
  }
}
