@import '../../../../styles/variables.module.scss';

.list_actions {
  width: 100%;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-size: 1.3rem;

    span {
      font-size: 0.9rem;
      font-weight: 500;
      color: $text-clr-4;
    }
  }

  .btns_container {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      padding: 5px 10px;
      border-radius: 3px;
      background-color: $acc-clr-1;
      color: white;

      &:last-of-type {
        background-color: red;
      }
    }
  }
}
