@import '../../../../../../../styles/variables.module.scss';

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px 0;

  button {
    padding: 5px;
    color: $acc-clr-1;
    border: 1px solid transparent;
    border-radius: 3px;

    &.active {
      border-color: $acc-clr-1;
    }
  }
}
