@import '/styles/variables.module.scss';

.header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid $border-clr-2;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;

  @media (max-width: 350px) {
    img {
      display: none;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
    overflow: hidden;

    h4 {
      font-size: 1rem;
      font-weight: 600;
    }

    a {
      font-size: 0.9rem;
      color: $acc-clr-1;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  button {
    font-size: 2rem;
    color: $text-clr-5;
    margin-left: auto;

    @media (max-width: 1500px) {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 1.5rem;
    }
  }
}
