@import '/styles/themes/themes.module.scss';

.price {
  width: 100%;
  border-bottom: 1px solid $product-showcase-border-clr;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: center;

  @media only screen and (max-width: 500px) {
    grid-template-columns: auto 1fr;
  }

  h2 {
    color: $product-showcase-title-clr;
    padding: 30px 0;
    padding-right: 15px;

    @media only screen and (max-width: 500px) {
      font-size: 1.3rem;
      order: 2;
    }
  }

  .price_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(0px, 0.6vw, 10px);
    border-right: 1px solid $product-showcase-border-clr;

    @media only screen and (max-width: 500px) {
      border: none;
      order: 2;
    }

    h3 {
      font-size: 1.4rem;
      color: $product-showcase-current-price-clr;
    }

    h4 {
      font-size: 1.2rem;
      color: $product-showcase-old-price-clr;
      text-decoration: line-through;
    }
  }

  h5 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: $product-showcase-stock-clr;
    padding: 10px;
    position: relative;
    font-size: 1.1rem;

    @media only screen and (max-width: 500px) {
      grid-column: 1/-1;
      border-bottom: 1px solid $product-showcase-border-clr;
      display: grid;
      grid-template-columns: auto 1fr;
      padding: 30px 0;
      padding-right: 15px;
      font-size: 1.3rem;

      span {
        width: 100%;
        text-align: center;
      }
    }

    span.avaliable {
      color: $product-showcase-stock-clr-avaliable;
    }
    span.limited {
      color: $product-showcase-stock-clr-limited;
    }
    span.outOfStock {
      color: $product-showcase-stock-clr-out-of-stock;
    }
  }
}
