@import '/styles/themes/themes.module.scss';

.inputs_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  align-items: center;

  @media (max-width: 1200px) {
    gap: 5px;
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  input {
    width: 100%;
    border: 1px solid $border-clr-3;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 20px;
    color: $text-clr-2;
    transition: border 300ms;

    &:focus {
      border-color: $acc-clr-1;
    }
  }

  button {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    border-radius: 20px;
    background-color: $acc-clr-1;
    color: $text-clr-3;
    transition: background-color 300ms;

    &:hover {
      background-color: $acc-clr-1-hover;
    }
  }
}
