@import '../../../../../../styles/variables.module.scss';

.close_filters_block {
  width: 100%;
  background-color: $white;
  border-radius: 3px;
  box-shadow: $box-shadow-2;
  overflow: hidden;
  transition: height 300ms;

  font-size: 1rem;
  font-weight: 600;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;

  button {
    background-color: $acc-clr-1;
    color: $text-clr-1;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
  }

  @media only screen and (max-width: 1200px) {
    display: flex;
  }
}
