@import '../../../../../styles/variables.module.scss';

.card {
  position: relative;
  width: 240px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .favorite_btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 1.2rem;
    color: $icon-clr-2;
    padding: 15px;

    &:hover {
      color: $acc-clr-1;
    }
  }

  .img_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: contain;
    }
  }

  .info_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    h3 a {
      display: block;
      font-size: 1rem;
      font-weight: 600;
      color: $text-clr-3;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }

    .rating_container {
      display: flex;
      align-items: center;
      gap: 2px;
      font-size: 1.3rem;
      color: grey;

      .star_clr {
        color: $star-clr;
      }

      span {
        font-size: 0.9rem;

        &:first-of-type {
          color: $star-clr;
          font-weight: 600;
        }
        &:last-of-type {
          color: $text-clr-5;
          font-weight: 600;
        }
      }
    }

    .flex_container {
      display: flex;
      align-items: flex-end;
      gap: 5px;

      .price_container {
        display: flex;
        align-items: flex-end;
        gap: 5px;

        p:first-of-type {
          color: $text-clr-3;
          font-weight: 800;
          font-size: 1.5rem;
        }

        p:nth-of-type(2) {
          font-weight: 600;
          color: $text-clr-6;
          text-decoration: line-through 2px solid $text-clr-6;
          font-size: 1.2rem;
        }
      }

      button {
        align-self: center;
        margin-left: auto;
        padding: 5px;
        border-radius: 5px;
        font-size: 1.3rem;
        background-color: $acc-clr-1;
        color: $white;
        border: 1px solid $acc-clr-1;
        transition: 300ms background-color, 300ms color, 300ms border;

        &:hover {
          background-color: transparent;
          color: $acc-clr-1;
        }
      }
    }
  }
}
