@import '/styles/themes/themes.module.scss';

.recommendations {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;

  h2 {
    font-size: 1.7rem;
  }

  @media (max-width: 500px) {
    padding: 0 10px;
  }
}
