@import '/styles/themes/themes.module.scss';

.img_container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;

  a {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 450px) {
      padding: 10px;
    }

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: contain;
    }
  }
}
