@import '/styles/themes/themes.module.scss';

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;

  h3 {
    font-size: 1.4rem;
    color: $product-review-title-clr;
  }

  .stars_container {
    display: flex;
    gap: 3px;
    font-size: 1.1rem;
    color: $product-review-star-clr;

    .active_star {
      color: $product-review-star-clr-active;
    }
  }

  p {
    margin-top: 5px;
    font-size: 1rem;
    line-height: 1.3;
    color: $product-review-clr;
  }
}
