@import '/styles/themes/themes.module.scss';

.mini_searchbar {
  margin-left: auto;
  display: flex;

  @media (max-width: 520px) {
    grid-column: 1 / -1;
    width: 100%;
  }

  input {
    padding: 5px 10px;
    border: 1px solid $mini-searchbar-input-border-clr;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: 300ms border;
    max-width: 150px;
    width: 100%;
    font-size: 0.9rem;

    @media (max-width: 520px) {
      max-width: none;
      width: 100%;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    &:focus {
      border-color: $acc-clr-1;
    }
  }

  &:has(input:focus) button {
    border-color: $acc-clr-1;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid $mini-searchbar-input-border-clr;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: 300ms border;
  }
}
