@import '/styles/themes/themes.module.scss';

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  a {
    color: $acc-clr-1;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
