@import '../../../styles/variables.module.scss';

.sidebar {
  width: $sidebar-width;
  min-height: 100vh;
  background-color: $secondary-clr;
  border-right: 2px solid $border-clr-1;
  color: $text-clr-2;

  position: fixed;
  top: 90px;
  left: 0;
  z-index: $sidebar-index;
}
