@import '/styles/themes/themes.module.scss';

.sidebar {
  width: var(--sidebar-width);
  min-height: calc(100vh - var(--navbar-height));
  height: 100%;
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  z-index: 111;
  transition: 300ms;
  background-color: $sidebar-bk-clr;
  border-right: 2px solid $sidebar-border-right-clr;

  @media only screen and (max-width: 800px) {
    max-width: 400px;
    width: 100%;
    transform: translateX(-100%);

    &.active {
      transform: translateX(0%);
    }
  }

  .center {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
