@import '/styles/themes/themes.module.scss';

.header {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid $product-reviews-border-clr;

  h2 {
    font-weight: 500;

    span {
      opacity: 0.7;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  button {
    margin-left: auto;
    padding: 5px 15px;
    border-radius: 3px;
    border: 1px solid $product-reviews-add-review-btn-border-clr;
    color: $product-reviews-add-review-btn-border-clr;
    transition: 300ms color, 300ms background-color;
    font-size: 0.9rem;
    font-weight: 500;

    @media (max-width: 500px) {
      padding: 5px;
    }

    &:hover {
      background-color: $product-reviews-add-review-btn-bk-clr-hover;
      color: $product-reviews-add-review-btn-clr-hover;
    }

    @media (max-width: 500px) {
      span {
        display: none;
      }
    }

    .icon {
      display: none;
      font-size: 1.1rem;

      @media (max-width: 500px) {
        display: flex;
      }
    }
  }
}
