@import '../../../../../../styles/variables.module.scss';

.comments {
  display: flex;
  flex-direction: column;
  grid-column: 2 / -1;
  overflow: hidden;
  transition: 300ms height, 300ms opacity;
  height: 0;
  opacity: 0;

  &.active {
    height: auto;
    opacity: 1;
  }

  @media (max-width: 1250px) {
    grid-column: 1 / -1;
  }
}
