@import '/styles/themes/themes.module.scss';

.comments {
  display: flex;
  flex-direction: column;
  grid-column: 2 / -1;
  overflow: hidden;
  display: none;

  &.active {
    display: flex;
  }

  @media (max-width: 1250px) {
    grid-column: 1 / -1;
  }
}
