@import '../../../styles/variables.module.scss';

.wrapper {
  width: 100%;
  padding: 0 var(--padding-side);

  @media only screen and (max-width: 1200px) {
    padding-right: 0;
  }
}

.center {
  max-width: 1540px;
  margin: 0 auto;
  position: relative;
}

.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  //
  // CARDS HEADER BELOW
  //
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 1200px) {
      padding-right: var(--padding-side);
    }

    h2 {
      display: flex;
      align-items: center;
      width: max-content;
      gap: 5px;
      font-weight: 800;

      span {
        display: flex;
      }
    }

    .btn_container {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        background-color: $white;
        padding: 5px;
        font-size: 1.2rem;
        border-radius: 10px;
        color: $icon-clr-2;
        transition: 300ms;

        &.inactive {
          color: $icon-clr-1;
          opacity: 0.5;
        }
      }
    }
  }

  //
  // CARDS CONTAINER BELOW
  //
  .cards_container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    overflow: hidden;
  }
}
