@import '../../../../styles/variables.module.scss';

.info {
  width: 100%;
  height: max-content;

  @media only screen and (max-width: 1150px) {
    padding: 0 30px;
  }

  @media only screen and (max-width: 600px) {
    padding: 0 15px;
  }

  h1 {
    font-size: 2rem;

    @media only screen and (max-width: 700px) {
      font-size: 1.5rem;
    }
  }
}
