@import '/styles/themes/themes.module.scss';

.product_questions {
  width: 100%;
  background-color: $product-questions-bk-clr;
  padding: 40px var(--padding-side);

  .center {
    max-width: 1540px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
