@import '../../../../styles/variables.module.scss';

.lists_container {
  width: 100%;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
}
