@import '../../../../styles/variables.module.scss';

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border-bottom: 1px solid $border-clr-2;
  padding: 15px 0;

  @media (max-width: 520px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 330px) {
    gap: 10px;
  }
}
