@import '../../../../styles/variables.module.scss';

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  button {
    color: $text-clr-1;
    font-size: 1.7rem;
    display: none;
  }

  a {
    width: auto;
    height: auto;

    img {
      width: 100px;
      height: auto;
    }
  }

  @media only screen and (max-width: 800px) {
    button {
      display: flex;
    }

    a img {
      width: 80px;
    }
  }
}
