@import '/styles/themes/themes.module.scss';

.remove_btn {
  display: flex;
  align-items: center;
  color: $acc-clr-1;
  font-size: 0.9rem;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    span {
      display: none;
    }
    font-size: 1.5rem;
  }
}
