@import '../../../../../styles/variables.module.scss';

.review {
  width: 100%;
  border-bottom: 1px solid $border-clr-2;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 10px;

  &:last-of-type {
    border-color: transparent;
  }

  @media (max-width: 1250px) {
    grid-template-columns: 1fr;
  }
}
