@import '/styles/themes/themes.module.scss';

.review {
  width: 100%;
  border-bottom: 1px solid $product-reviews-border-clr;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 10px 0;

  @media (max-width: 1250px) {
    grid-template-columns: 1fr;
  }
}
