@import '/styles/themes/themes.module.scss';

.title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;

  label {
    font-weight: 600;
    color: $product-reviews-modal-label-clr;
  }

  input {
    outline: transparent;
    padding: 8px;
    border: 1px solid $product-reviews-modal-input-border-clr;
    border-radius: 3px;
    transition: 300ms border-color;
    background-color: transparent;

    &:focus {
      border-color: $product-reviews-modal-input-border-clr-focus;
    }

    &::placeholder {
      opacity: 0.6;
    }

    &.error {
      border-color: $product-reviews-modal-input-error-clr;

      &:focus {
        border-color: $product-reviews-modal-input-error-clr;
      }
    }
  }

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span:first-of-type {
      font-size: 0.9rem;
      color: $product-reviews-modal-input-error-clr;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }

    span:last-of-type {
      color: $product-reviews-modal-input-word-count-clr;
      font-size: 0.9rem;
    }
  }
}
