@import '/styles/themes/themes.module.scss';

.rating {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: var(--row-padding-tb) 0;
  border-bottom: 1px solid $product-showcase-border-clr;

  @media (max-width: 600px) {
    padding: var(--row-padding-tb) var(--padding-side);
  }

  .icon {
    font-size: 1.3rem;
    align-items: center;
    color: $product-showcase-rating-star-clr;

    &.active {
      color: $product-showcase-rating-star-clr-active;
    }
  }

  p:first-of-type {
    font-weight: 500;
    color: $product-showcase-rating-clr;
  }

  p:last-of-type {
    font-weight: 500;
    color: $product-showcase-reviews-count-clr;
  }
}
