@import '/styles/themes/themes.module.scss';

.rating {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: var(--row-padding-tb) 0;
  border-bottom: 1px solid $border-clr-2;

  @media (max-width: 600px) {
    padding: var(--row-padding-tb) var(--padding-side);
  }

  .icon {
    font-size: 1.3rem;
    align-items: center;
    color: $text-clr-4;

    &.active {
      color: $star-clr;
    }
  }

  p:first-of-type {
    font-weight: 500;
  }

  p:last-of-type {
    font-weight: 500;
    color: $text-clr-4;
  }
}
