@import '/styles/themes/themes.module.scss';

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  overflow: hidden;

  .inactive {
    color: $product-slider-disabled-button-clr;
    opacity: 0.5;
  }
}
