@import '/styles/themes/themes.module.scss';

.links {
  display: flex;
  flex-direction: column;
  gap: 5px;

  p:first-of-type {
    font-size: 0.9rem;
    color: $product-reviews-modal-first-paragraph-clr;

    a {
      display: inline-block;
      color: $product-reviews-modal-first-paragraph-link-clr;
      font-weight: 600;
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p:last-of-type {
    font-size: 0.75rem;
    color: $product-reviews-modal-last-paragraph-clr;

    a {
      font-size: 0.75rem;
      color: $product-reviews-modal-last-paragraph-clr;
      display: inline-block;
      text-decoration: underline;
    }
  }
}
