@import '/styles/variables.module.scss';

.links {
  display: flex;
  flex-direction: column;
  gap: 5px;

  p:first-of-type {
    font-size: 0.9rem;

    a {
      display: inline-block;
      color: $acc-clr-1;
      font-weight: 600;
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p:last-of-type {
    font-size: 0.75rem;
    color: $text-clr-4;

    a {
      font-size: 0.75rem;
      color: $text-clr-4;
      display: inline-block;
      text-decoration: underline;
    }
  }
}
