@import '../../../../../../styles/variables.module.scss';

.active_filters_block {
  width: 100%;
  background-color: $white;
  border-radius: 3px;
  box-shadow: $box-shadow-2;
  overflow: hidden;
  transition: height 300ms;

  .active_filters_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
    padding-bottom: 10px;

    & > button {
      width: 100%;
      justify-content: center;
      align-items: center;
      background-color: $remove-all-filters-btn-bk;
      color: $text-clr-1;
      padding: 7px;
      border-radius: 3px;
    }
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;

    li {
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-bottom: 1px solid $border-clr-2;
      padding: 5px 0;

      &:last-of-type {
        border-bottom: none;
      }

      h5 {
        font-size: 0.95rem;
      }

      button {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 0.9rem;

        .icon {
          color: red;
        }
      }
    }
  }
}
