@import '../../../../styles/variables.module.scss';

.products_sidebar_filters {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 300ms;

  & * {
    flex: 0 0 auto;
  }

  &.active {
    transform: translateX(0);
    opacity: 1;
  }

  @media only screen and (max-width: 1200px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 450px;
    height: 100vh;
    background-color: $white;
    padding: 15px;
    overflow-y: auto;
    transform: translateX(-100%);
    opacity: 0;
  }

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}
