@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './themes/themes.module.scss';

:root {
  --navbar-height: 90px;
  --sidebar-width: 240px;
  --padding-side: 70px;

  @media only screen and (max-width: 800px) {
    --navbar-height: 70px;
  }
  @media only screen and (max-width: 1200px) {
    --padding-side: 15px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $main-clr;
  color: $text-clr-3;
  line-height: 1.4;
}

button,
a {
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: $font-1;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  line-height: 1.5;
}

p {
  line-height: 1.4;
}

input,
textarea {
  font-family: $font-1;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  border: 1px solid black;
}

main {
  min-height: 100vh;
  padding-top: var(--navbar-height);
  padding-left: var(--sidebar-width);

  @media only screen and (max-width: 800px) {
    padding-left: 0;
  }
}

ul,
ol {
  list-style: none;
}

.page-center {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
