@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$main-clr: #f2f2f5;
$secondary-clr: #161d25;

$white: white;
$black: black;

$acc-clr-1: #ff9900;
$acc-clr-2: #1a7f91;
$acc-clr-3: #a5700f;

$border-clr-1: #424b54;
$border-clr-2: #d5dee6;

$searchbar-bk-clr: #222f3e;

$category-bk-clr: #2d3c4c;

$product-card-clr: #ffffff;

$star-clr: #ffca0d;

$icon-clr-1: #969aa3;
$icon-clr-2: #6f7581;

$text-clr-1: #ffffff;
$text-clr-2: #e2e3e4;
$text-clr-3: #3b404a;
$text-clr-3: #999;

$font-1: 'Lato', sans-serif;

$navbar-height: 90px;
$navbar-index: 888;
$sidebar-width: 240px;
$sidebar-index: 888;

$footer-bk-clr: white;

$authentification-form-bk: white;
$google-btn-bk: #cf553d;
$google-btn-bk-hover: #ff2a00;
$error-clr: rgb(187, 78, 78);
$no-error-clr: rgb(28, 138, 28);

$box-shadow-1: 1px 2px 5px #ccc;
