@import '/styles/themes/themes.module.scss';

.product_showcase {
  width: 100%;
  height: auto;
  background-color: $bk-clr-3;
  padding: 30px var(--padding-side);

  @media only screen and (max-width: 1400px) {
    padding-bottom: 0;
  }
  @media only screen and (max-width: 600px) {
    padding: 0;
  }

  .center {
    max-width: var(--section-max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;

    @media (max-width: 1650px) {
      gap: 20px 10px;
    }
    @media (max-width: 1400px) {
      grid-template-columns: 1fr;
    }
  }
}
