@import '../../../../../../styles/variables.module.scss';

.actions {
  width: 100%;
  grid-column: 2/ -1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 1250px) {
    grid-column: 1 / -1;
  }

  .btns_container {
    display: flex;
    align-items: center;

    button {
      display: flex;
      align-items: center;
      gap: 5px;
      color: $acc-clr-1;
      padding: 0 10px;
      border-right: 1px solid $border-clr-2;

      @media (max-width: 450px) {
        &:nth-of-type(2) span {
          display: none;
        }

        &:last-of-type span:first-of-type {
          display: none;
        }
      }

      &:hover {
        color: $acc-clr-3;
      }

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        border-right: none;
      }

      .icon {
        font-size: 1.4rem;

        @media (max-width: 450px) {
          font-size: 1.2rem;
        }
      }

      span {
        font-size: 0.9rem;
        font-weight: 600;
      }
    }
  }
}
