@import '/styles/themes/themes.module.scss';

.read_answers {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $product-questions-border-clr;
  padding-left: 50px;
  height: 0;
  opacity: 0;

  &.active {
    height: auto;
    margin-top: 10px;
    opacity: 1;
  }

  @media (max-width: 500px) {
    padding-left: 10px;
  }
}
