@import '../../../../../../styles/variables.module.scss';

.read_answers {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $border-clr-2;
  padding-left: 50px;
  transition: 300ms height, 300ms opacity, 300ms margin;
  height: 0;
  opacity: 0;
  overflow: hidden;

  &.active {
    height: auto;
    margin-top: 10px;
    opacity: 1;
  }

  @media (max-width: 500px) {
    padding-left: 10px;
  }
}
