@import '/styles/themes/themes.module.scss';

.nested_link {
  & > button {
    padding: 7.5px 0 7.5px 30px;
    color: $sidebar-link-clr;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    font-weight: 400;

    .icon {
      font-size: 0.9rem;
      opacity: 0.8;
    }
  }
}
