@import '/styles/themes/themes.module.scss';

.chart {
  padding: 15px;
  border-right: 1px solid $product-reviews-border-clr;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (max-width: 1300px) {
    grid-column: 1/-1;
    border-right: none;
    border-bottom: 1px solid $product-reviews-border-clr;
  }

  @media (max-width: 600px) {
    padding: 15px 0;
  }
}
