@import '../../../styles/variables.module.scss';

.promotion_slider {
  width: 100%;
  padding: 0 70px;

  @media only screen and (max-width: 1200px) {
    padding: 0 15px;
  }
  @media only screen and (max-width: 800px) {
    padding: 0;
  }
}

.slider {
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 1540 / 600;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;

  @media only screen and (max-width: 1200px) {
    border-radius: 15px;
  }

  @media only screen and (max-width: 800px) {
    border-radius: 0;
  }
}
